/* 
-----------TYPOGRAPHY-----------
FONT SIZES 
12px / 16px / 20px / 24px / 32px / 40px / 62px

FONT WEIGHT
400 / 700

LINE HEIGHTS
1.2/1.5

LATTER SPACING
0 / -2PX

FONT FAMILY 
Poppins


-----------COLORS----------
PRIMARY
Base: #339af0 (Sky Blue)
Tint: #d0ebff (Arctic)
Shade: #1c7ed6 (Deep Sea)

SECONDARY
Base: #9775fa (Lavendar)
Tint: #e5dbff (Moonligh Iris)
Shade: #7048e8 (Velvet Night)

TERTIARY
Base: #ff922b (Pumpkin)
Tint: #ffe8cc (Dawn)
Shade: #f76707 (Lava)

GREY
Base: #495057 (Slate)
Tint: #f1f3f5 (Pebble)
Shade: #212529 (Graphite)
White: #ffffff (White)
Black: #000000 (Black)
*/

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  letter-spacing: -2px;
  color: #212529;
  font-weight: 700;
}

body {
  font-family: Poppins, sans-serif;
}

h1 {
  text-align: center;
  font-size: 62px;
}

h2 {
  text-align: center;
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}
h5 {
  font-size: 24px;
}

p,
a,
.small-text {
  line-height: 1.5;
  color: #495057;
  font-weight: 400;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

ul {
  list-style: none;
}

.small-text {
  font-size: 12px;
}

.btn {
  font-weight: 400;
  text-decoration: none;
  font-size: 16px;
}

.btn-primary {
  color: #339af0;
}

.btn-secondary {
  color: #9775fa;
}
